@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.WebApp</title>

    <link rel="manifest" href="~/manifest.json" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="~/css/bootstrap-theme.css" media="screen" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-inverse headroom border-bottom box-shadow">
            <div class="container">
                <div class="navbar-header">
                    <!-- Button for smallest screens -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="/"><img src="~/images/icons/icon60.png" alt="Shop Management App"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Customer" ? "active" : "")">
                            <a asp-area="" asp-controller="Customer" asp-action="Index">Klienci</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Product" ? "active" : "")">
                            <a asp-area="" asp-controller="Product" asp-action="Index">Produkty</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Order" ? "active" : "")">
                            <a asp-area="" asp-controller="Order" asp-action="Index">Zamówienia</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Payment" ? "active" : "")">
                            <a asp-area="" asp-controller="Payment" asp-action="Index">Płatności</a>
                        </li>
                        @* Wylogowanie, zalogowanie, zalogowany użytkownik *@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>
                                @*<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Witaj @User.Identity.Name</a>*@
                                <a>Witaj @User.Identity.Name</a>
                            </li>
                            <li>
                                <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
                                    <a class="btn text-danger" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn" asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
                                @*<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="RegisterWithConfirm">Zarejestruj się</a>*@
                            </li>
                            <li class="nav-item">
                                <a class="btn" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                            </li>
                        }
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Shop.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('~/serviceworker.js')
                .then(function () { console.log('Service Worker Registered'); });
        }
    </script>
</body>
</html>
