@model IEnumerable<Shop.WebApp.Models.OrderVM>

<p>
    <a asp-action="Create">Dodaj zamówienie</a>
</p>
<input type="search" id="searchInput" class="search" placeholder="Filtrowanie danych..." />
<table class="table" id="orderTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    [@Html.DisplayFor(modelItem => item.Customer.Id)]
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                    @Html.DisplayFor(modelItem => item.Customer.Surname)
                </td>
                <td>
                    @if (item.PaymentId != 0)
                    {
                        @:[@Html.DisplayFor(modelItem => item.PaymentId)]
                        @:@Html.DisplayFor(modelItem => item.Payment.Amount) zł;
                        @:@Html.DisplayFor(modelItem => item.Payment.PaymentMethod);
                        @:@Html.DisplayFor(modelItem => item.Payment.Status)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.search').on('keyup', function () {
            var datasearch = $(this).val().toLowerCase();
            $("#orderTable tr").not(':first').each(function () {
                var stringdata = $(this).text().toLowerCase();
                if (stringdata.indexOf(datasearch) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    })
</script>
