@model IPagedList<Shop.WebApp.Models.OrderVM>
@using X.PagedList
@using X.PagedList.Mvc.Core;

<p>
    <a asp-action="Create">Dodaj zamówienie</a>
</p>

@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    <p>
        Wyszukaj zamówienie wg klienta:
        <br />
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Szukaj" />
    </p>

}

<table class="table" id="orderTable">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Klient
            </th>
            <th>
                Płatność
            </th>
            <th>
                Data utworzenia
            </th>
            <th>
                Data modyfikacji
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    [@Html.DisplayFor(modelItem => item.Customer.Id)]
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                    @Html.DisplayFor(modelItem => item.Customer.Surname)
                </td>
                <td>
                    @if (item.PaymentId != 0)
                    {
                        @:[@Html.DisplayFor(modelItem => item.PaymentId)]
                        @:@Html.DisplayFor(modelItem => item.Payment.Amount) zł;
                        @:@Html.DisplayFor(modelItem => item.Payment.PaymentMethod);
                        @:@Html.DisplayFor(modelItem => item.Payment.Status)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
